html, body {
  width:100%;
  height:100%;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', sans-serif;
  max-width: 100%;
  overflow: hidden;
  background-color: #141414;
}

.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: transparent;
  border-radius: 1px;
  z-index: 9999;
  padding: 15px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger-top {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #009090;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
}

.hamburger-mid {
  position: fixed;
  top: 25px;
  left: 15px;
  background-color: #009090;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
}

.hamburger-bottom {
  position: fixed;
  top: 35px;
  left: 15px;
  background-color: #009090;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
}

nav {
  background-color: #0E0E0E;
  opacity: 0.9;
  display: inline-block;
  position: fixed;
  height: 100%;
  width: 20%;
  left: -20%;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

nav a {
  background-color: #0E0E0E;
}

nav a:visited { color: black; }

nav a.active {
  color: white;
  text-decoration: none;
  text-align: none;
  font-size: 15px;
  padding: 20px;
  padding-left: 50%;
  vertical-align: middle;
  background-color: rgba(92, 201, 237, 0);
  -webkit-transition: background-color 0.5s linear; /* Safari */
  transition: background-color 0.5s linear;
}

nav a.active:hover {
  color: white;
  background-color: rgba(92, 201, 237, 0.6);
  -webkit-transition: background-color 0.2s linear; /* Safari */
  transition: background-color 0.2s linear;
}

.nav-links {
  padding: 20px;
  display: block;
  vertical-align: middle;
  background-color: rgba(92, 201, 237, 0);
  -webkit-transition: background-color 0.5s linear; /* Safari */
  transition: background-color 0.5s linear;
}

.nav-links:hover {
  padding: 20px;
  display: block;
  vertical-align: middle;
  background-color: rgba(92, 201, 237, 0.6);
  -webkit-transition: background-color 0.2s linear; /* Safari */
  transition: background-color 0.2s linear;
}

span.text {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: none;
  vertical-align: middle;
  font-size: 15px;
  padding-left: 50%;
}

span.icon {
  width: 20px;
  height: 20px;
  z-index: -1;
  display: inline-block;
  vertical-align: middle;
  text-align: none;
  left: 30%;
}

.img-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.img-logo {
  display: inline-block;
  width: 60%;
  left: 30%;
  vertical-align: middle;
  text-align: center;
}

.nav-header {
  text-align: center;
  vertical-align: middle;
  padding-top: 70px;
  padding-bottom: 20px;
  color: white;
  font-size: 24px;
}

@media (min-width: 701px) {
    span.icon {display:inline-block}
    span.text {display:inline-block}
    span.icon {position:absolute}
    span.icon {left:30%}
    span.text {padding-left:50%}
    span.text {font-size:15px}
}

@media (min-width: 401px) and (max-width: 700px) {
    span.icon {display:inline-block}
    span.icon {position:absolute}
    span.icon {left:20%}
    span.text {padding-left:40%}
    span.text {font-size:12px}
}

@media (max-width: 400px) {
    span.icon {display:inline-block}
    span.icon {position:none}
    span.icon {left:20%}
    span.text {padding-left:40%}
    span.text {font-size:12px}
    span.text {display:none}
    .img-logo {display:none}
}

nav, .cover, .map {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.hamburger-top, .hamburger-mid, .hamburger-bottom {
  transition: all 0.5s ease-in-out;
}

.sidenav-active nav, .sidenav-active .cover {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.map {
  -webkit-transition: margin-left 0.4s;
  transition: margin-left 0.4s;
}

.map {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
}

.sidenav-active .map {
  margin-left: 20%;
  width: 80%;
}

.sidenav-active .hamburger-top {
  position: fixed;
  background-color: #00CCCC;
  top: 25px;
  left: 15px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}
.sidenav-active .hamburger-mid {
  position: fixed;
  background-color: #00CCCC;
  top: 25px;
  left: 15px;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}
.sidenav-active .hamburger-bottom {
  position: fixed;
  background-color: #00CCCC;
  top: 25px;
  left: 15px;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

#map {
  width: 100%;
  height:100%;
  background: black;
}

.gradient {
  background-image: radial-gradient(rgba(0, 0, 255, 0) 50%, #00CCCC 95%);
}

.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in {
  color: white;
  background-color: #009090;
  opacity: 0.7;
}
.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-out {
  color: white;
  background-color: #009090;
  opacity: 0.7;
}

.leaflet-control-container:hover .leaflet-top:hover .leaflet-control-zoom:hover a.leaflet-control-zoom-in:hover {
  color: black;
  background-color: #00CCCC;
  opacity: 0.5;
}
.leaflet-control-container:hover .leaflet-top:hover .leaflet-control-zoom:hover a.leaflet-control-zoom-out:hover {
  color: black;
  background-color: #00CCCC;
  opacity: 0.5;
}

.css-icon {
  width: 20;
  height: 20;
  border-radius: 100%;
  border: 10px;
  border-color: white;
  border-width: medium;
  background-color: #00CCCC;
  opacity: 0.5;
  -webkit-transition: background-color 1s linear; /* Safari */
  transition: background-color 1s linear;
  background-image: radial-gradient(rgba(0, 0, 255, 0) 50%, #00CCCC 95%);
}

.css-icon:hover {
  width: 20;
  height: 20;
  border-radius: 100%;
  background-color: #0095FF;
  opacity: 0.5;
  -webkit-transition: background-color 0.5s linear; /* Safari */
  transition: background-color 0.5s linear;
}

.info {
    padding: 6px 8px;
    font: 24px/16px Verdana, sans-serif;
    color: rgba(255,255,255,0.7);
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.hs {
    fill: #5CC9ED;
    fill-opacity: 0.0;
    stroke: #5CC9ED;
    stroke-opacity: 0.0;
    stroke-width: 0px;
    -webkit-transition: fill-opacity 1s linear; /* Safari */
    transition: fill-opacity 1s linear;
}

.hs:hover {
    fill: #5CC9ED;
    fill-opacity: 0.4;
    stroke: #5CC9ED;
    stroke-opacity: 0.4;
    stroke-width: 1px;
    -webkit-transition: fill-opacity 0.5s linear; /* Safari */
    transition: fill-opacity 0.5s linear;
    -webkit-transition: stroke-opacity 0.5s linear; /* Safari */
    transition: stroke-opacity 0.5s linear;
}
